1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
my_list = []   # will contain the results

# question 'a'
for i in range(1, 101):
    if i%3 == 0:
        if i%5 == 0:
            print("MickeyMouse")
            my_list.append("MickeyMouse")
        else:
            print("Mickey")
            my_list.append("Mickey")
    elif i%5 == 0:
        print("Mouse")
        my_list.append("Mouse")
    else:
        print(i)
        my_list.append(i)
        
# question 'b'
print("\nOriginal list:\n", my_list)

for i in range(len(my_list)):
    if my_list[i] == "Mickey":
        my_list[i] = "Donald"
    elif my_list[i] == "Mouse":
        my_list[i] = "Duck"
print("\nEdited list:\n", my_list)

my_tuple = tuple(my_list)
print("\nFinal tuple:\n", my_tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

Original list:
 [1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

Edited list:
 [1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

Final tuple:
 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
# with a temporary variable
def swap1(x, y):
    temp = x
    globals()['x'] = y   # using 'globals()' to edit variables declared outside the function scope
    globals()['y'] = temp
    
x = 3.14
y = "Hello!"
print("Swap function implemented using a temporary variable")
print("Initial value of 'x':", x)
print("Initial value of 'y':", y)
swap1(x, y)
print("Final value of 'x':", x)
print("Final value of 'y':", y)

# without a temporary variable
def swap2(x, y):
    globals()['x'] = y
    globals()['y'] = x

print("\nSwap function implemented without using a temporary variable")
print("Initial value of 'x':", x)
print("Initial value of 'y':", y)
swap2(x, y)
print("Final value of 'x':", x)
print("Final value of 'y':", y)

Swap function implemented using a temporary variable
Initial value of 'x': 3.14
Initial value of 'y': Hello!
Final value of 'x': Hello!
Final value of 'y': 3.14

Swap function implemented without using a temporary variable
Initial value of 'x': Hello!
Initial value of 'y': 3.14
Final value of 'x': 3.14
Final value of 'y': Hello!

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
def distance(u, v):
    res = ((v[0]-u[0])**2 + (v[1]-u[1])**2)**(1/2)
    return res
    
u = (3, 0)
v = (0, 4)
print("u =", u)
print("v =", v)
print("Euclidean distance between 'u' and 'v':", distance(u, v))

u = (3, 0)
v = (0, 4)
Euclidean distance between 'u' and 'v': 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def occurrences(s):   # counts the occurrence of each character in a given string 's'
    characters = [[x, 1] for x in s.lower()]   # list of lists of the type [character 'x', occurrence of the character 'x' in the string 's'] -> using 's.lower()' to ignore differences in capitalization
    for i in characters:
        i_index = characters.index(i)
        for j in characters[i_index+1:]:
            if i[0] == j[0]:
                i[1] += 1
                characters.remove(j)
    for i in characters:
        print("The character '" + i[0] + "' occurs " + str(i[1]) + " times.")

occurrences(s)

The character 'w' occurs 2 times.
The character 'r' occurs 17 times.
The character 'i' occurs 14 times.
The character 't' occurs 19 times.
The character 'e' occurs 22 times.
The character ' ' occurs 41 times.
The character 'a' occurs 7 times.
The character 'p' occurs 8 times.
The character 'o' occurs 13 times.
The character 'g' occurs 1 times.
The character 'm' occurs 12 times.
The character 'h' occurs 9 times.
The character 'n' occurs 10 times.
The character 's' occurs 9 times.
The character 'u' occurs 9 times.
The character 'b' occurs 5 times.
The character 'f' occurs 10 times.
The character '1' occurs 2 times.
The character '0' occurs 2 times.
The character '.' occurs 2 times.
The character 'l' occurs 6 times.
The character 'c' occurs 3 times.
The character 'k' occurs 2 times.
The character 'y' occurs 2 times.
The character 'd' occurs 3 times.
The character 'v' occurs 2 times.

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_numbers(l):
    uniques = []   # will contain the unique numbers in the list 'l'
    for i in l:
        if i not in uniques:
            uniques.append(i)
    print("\nUnique numbers in the list:\n", uniques)
    print("\n# unique numbers in the list:", len(uniques))

print("List:\n", l)
print("\nLength of the list:", len(l))
unique_numbers(l)

List:
 [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Length of the list: 80

Unique numbers in the list:
 [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

# unique numbers in the list: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth_pow(x):
    return cube(square(x))

x = 5
print("%f to the 6th power = %f" % (x, sixth_pow(x)))

5.000000 to the 6th power = 15625.000000

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
# question 'a'
list1 = []
for x in range(0, 11):
    list1.append(x**3)
print("List of the cubes of 'x' for 'x' in [0,10] using a for loop:\n", list1)

# question 'b'
list2 = [x**3 for x in range(0, 11)]
print("\nList of the cubes of 'x' for 'x' in [0,10] using a list comprehension:\n", list2)

List of the cubes of 'x' for 'x' in [0,10] using a for loop:
 [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

List of the cubes of 'x' for 'x' in [0,10] using a list comprehension:
 [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
pyth_list = [(a, b, c) for a in range(1, 100) for b in range(1, 100) for c in range(1, 100) if a**2 + b**2 == c**2]
pyth_tuple = tuple(pyth_list)
print("Tuple of Pythagorean triples for the positive integers 'a', 'b' and 'c' less than 100:\n", pyth_tuple)

Tuple of Pythagorean triples for the positive integers 'a', 'b' and 'c' less than 100:
 ((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
def normalize(t):
    g = []   # will contain the entries normalized to one
    for i in t:
        g.append(i / sum(t))
    return tuple(g)

import random
l = tuple([random.uniform(-10, 10) for _ in range(30)])
print("Original tuple:\n", l)
print("\nSum of the entries:", sum(l))
l = normalize(l)
print("\nTuple with the entries normalized to one:\n", l)
print("\nSum of the normalized entries:", sum(l))

Original tuple:
 (-0.11173826200870884, -0.5679524589965723, -4.270982557544524, -3.7734008773583483, -4.118204981456364, -3.8684135341500543, 6.780525049037802, 0.7424857273007177, -9.982522135715048, -2.275197810284122, -7.612181083964624, -3.008530128116515, -6.551832564594553, -4.342900125997369, 8.748064643279314, -3.6018853072051034, -4.416446765348745, -4.2075083375752005, -7.445757414685064, 8.156206659949525, 8.188378603467374, 4.226053307996613, -3.3107534385821857, -4.89529545183361, 6.080902401289137, 9.535538045396457, -8.0407712488861, -4.258062506939391, -2.7212281923672776, 6.494091764967159)

Sum of the entries: -34.42931898092537

Tuple with the entries normalized to one:
 (0.003245439216227727, 0.01649618626819865, 0.12405074175038856, 0.10959847563203032, 0.11961331514393134, 0.11235811943574148, -0.1969404347728855, -0.021565507226909475, 0.2899424801648151, 0.06608314882860836, 0.2210958946989903, 0.08738279516313725, 0.19029805870468766, 0.12613958842472123, -0.254087646872305, 0.10461680375381895, 0.1282757514836572, 0.12220713223826053, 0.21626211714527907, -0.2368971243511453, -0.23783155885261403, -0.1227457711358724, 0.09616087499193401, 0.14218391756588955, -0.1766198862271454, -0.27695982167638467, 0.23354430139442697, 0.12367547871912465, 0.07903810684942389, -0.18862097645803083)

Sum of the normalized entries: 1.0